<p class="field"><label class="fieldlabel">&nbsp</label><span class='simple_captcha_image'><%= @simple_captcha_options[:image] %></span></p>
<p class="field"><label class="fieldlabel"><%= t(:views__simple_captcha) %> </label><%= @simple_captcha_options[:field] %></p>