<%= form_tag :action => "add_team" %>
	<fieldset>
		  <label for="name">Name:</label><%= text_field :team, :name %><br />
		  <label for="name">Name(Burgarian):</label><%= text_field :team, :bg_name %><br />
		  <%= submit_tag "Add" %>
	</fieldset>
</form>
