<%= render :partial => 'layouts/header' %>

Users index Users index Users index Users index Users index Users index Users index Users index Users index Users index Users index Users index Users index Users index Users index Users index Users index Users index Users index Users index Users index Users index 