<div class="menu">
	<ul>
		<li><%= link_to t(:site__title__home), root_url %></li>
		<li><%= link_to t(:users__title__login), login_users_url %></li>
		<li><%= link_to t(:users__title__register), signup_users_url %></li>
		<li><%= link_to t(:users__title__forgotten_password), reset_password_users_url %></li>
	</ul>
</div>